<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

   <body>
      <%- include("./partials/nav.ejs") %>

         <main class="main-content">
            <div class="lol">Ciao Marìe</div>
         </main>
   </body>

</html>