<nav>
   <div class="site-title">
      <a href="/">
         <h1>Course Finder</h1>
      </a>
      <p>Search you course</p>
   </div>
   <ul>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Lolles</a></li>
      <li><a href="#">Marìes</a></li>
   </ul>
</nav>